@import "tailwindcss";
/* No seu index.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
}

.dark {
  background-color: #0f172a;
  color: #f8fafc;
}