@import "tailwindcss";

/* Ocultar barra de rolagem (Sintaxe CSS Padrão - Sem avisos) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Transição suave de cores e fundo base */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Força o fundo escuro apenas quando a classe .dark estiver no topo */
.dark body {
  background-color: #0f172a; /* slate-900 */
}